In [1]:
x= "Hello"
print(x)

Hello

In [ ]:
x= "De Guzman"
y= "IT_2110"

print(x + " from " + y) #concatenating the x and y with a string

In [2]:
x= "World"
print(x)

World

In [16]:
number = eval(input("Enter an equation: "))#for the output to be integer and not a string
number

Enter an equation: 3 + 2

5

In [21]:
x = eval(input("Enter a number: "))
float(x)#to change the data type of x from integer to float

Enter a number: 4

4.0

In [28]:
#if, elif, else statement that checks if the value of x is greather, less, or zero
x= int(input("Enter a number: "))
if x>1:
    print(x,"is greater than 1")
elif x<0:
    print(x, "is less than 1")
else:
    print(x, "is 0")

Enter a number: 3
3 is greater than 1

x = eval(input("Enter a number: ")

In [31]:
#Calling a Function
def myFunc(food):
    print(food + " chicken")
    
myFunc("Fried")
myFunc("Boiled")

Fried chicken
Boiled chicken

In [35]:
#Default and Keyword Arguments
def myInfo(name = "Unknown", age = 0):
    print ("Name:", name)
    print ("Age: ", age)
    return;

myInfo()
myInfo(name="Garry", age=20)

Name: Unknown
Age:  0
Name: Garry
Age:  20

In [36]:
#return statements
def product(x, y):
    total = (x*y)
    print("Total is: ", total)
    return total;

total = product(4,5)

Total is:  20

In [44]:
#Loop statement
i = 0
while i < 10:
    print (i, "is less than 5")
    i = i+1
    if (i >= 4 <= i):
        break;
else:
    print(i, "is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5

In [55]:
def myFunc(shoes): #List
    for i in shoes:
        print(i)
shoes = ["Nike", "Adidas", "Vans"]
myFunc(shoes)
i = len(shoes)
print (i)

Nike
Adidas
Vans
3

In [76]:
shoes.append("Milanos")#adding a shoes in the list
myFunc(shoes)

Nike
Adidas
Milanos

In [77]:
shoes.append("Vans")
myFunc(shoes)

Nike
Adidas
Milanos
Vans

In [79]:
shoes.remove("Vans")#removing shoes in the list
myFunc(shoes)

Nike
Adidas
Milanos

In [81]:
#Class
class Animal:
    def __init__(self, name, kingdom, gender):
        self.name = name
        self.kingdom = kingdom
        self.gender = gender
animal1 = Animal("Lion", "Animalia", "Male")
print("Name: " + animal1.name)
print("Kingdom: " + animal1.kingdom)
print("Gender: " + animal1.gender)

Name: Lion
Kingdom: Animalia
Gender: Male

In [82]:
animal2 = Animal("Lioness", "Animalia", "Female")
print("Name: " + animal2.name)
print("Kingdom: " + animal2.kingdom)
print("Gender: " + animal2.gender)

Name: Lioness
Kingdom: Animalia
Gender: Female